.container {width:100%;height:100%; display: none;}

.hero1, .hero2, .hero3, .hero4, .hero5, .hero6, .hero7, .hero8, .hero9, .hero10, .hero11 {width:30%; position: relative; }

.item {position: absolute;  }

g {transform-origin: 50% 50%;}